{{#> layout }}
<div class="about">
<div class="about-content">
	<h1 class="about__title">The quick brown fox jumps over the lazy dog.</h1>
	<p class="about__copy">
		Meet the pangram, a sentence using every letter of the alphabet. We think pangrams are beautiful. So we gathered writers, designers and motion artists to bring these letters to life.
	</p>
	<p class="about__social">
	Created by:
		<ul>
			<li class="about__social__label">
				Anna Edwards Crowl <a href="#">social</a>
			</li>
			<li class="about__social__label">
				Anna Edwards Crowl <a href="#">social</a>
			</li>
			<li class="about__social__label">
				-name/social
			</li>
		</ul>
	</p>
</div>
</div>
{{/layout}}
