<!DOCTYPE html>
<html lang="en">
{{> htmlHead }}
<body>
<div class="about">
<div class="about-content">
	<i>The quick brown fox jumps over the lazy dog.</i>
	<p>
		Meet the pangram, a sentence using every letter of the alphabet. We think pangrams are beautiful. So we gathered writers, designers and motion artists to bring these letters to life.
	</p>
	<p>
	Created by:
		<ul>
			<li>
				Anna Edwards Crowl <a href="#">social</a>
			</li>
			<li>
				Anna Edwards Crowl <a href="#">social</a>
			</li>
			<li>
				-name/social
			</li>
		</ul>
	</p>
</div>
</div>

{{> scripts }}
</body>
</html>
