{{#> layout }}

<div class="art">

		<canvas class="art__canvas js-canvas" width="1000" height="900"></canvas>

	<div class="art__credits">
		<b>Copy Writing</b><br>
		<i>Anna Edwards Crowl</i><br>
		<b>Lettering</b><br>
		<i>Sindy Ethel</i><br>
		<b>Motion</b><br>
		<i>Rick van Mook-Codill</i><br>
		<i>Jasmijn Hatinga-Verschuren</i><br>
		<i>Cameron Templeton</i><br>
		<i>Elizabeth Entenman</i><br>
		<i>Florence Libbrecht</i><br>
		<i>Kyle Helmstetter</i><br>

	</div>
	<div class="art__controls">
		<b>Copy Writing</b><br>
		<i>Anna Edwards Crowl</i><br>
		<b>Lettering</b><br>
		<i>Sindy Ethel</i><br>
		<b>Motion</b><br>
		<i>Rick van Mook-Codill</i><br>
		<i>Jasmijn Hatinga-Verschuren</i><br>
		<i>Cameron Templeton</i><br>
		<i>Elizabeth Entenman</i><br>
		<i>Florence Libbrecht</i><br>
		<i>Kyle Helmstetter</i><br>
	</div>
</div>
{{/layout}}