.header {

	position: absolute;
	top: 20px;
	left: 50px;
}

.logo {

	position: absolute;
	left: 50px;
	top: 50%;
	height: 50px;
	width: 180px;
	box-sizing: border-box;
	border: solid 2px $color-black;

	text-align: center;
	line-height: 50px;
	transform: rotate(-90deg) translateX(-50%);
	transform-origin: top left;
}