html, body, .wrapper {

	height: 100%;
	font-family: sans-serif;
}

body {

	margin: 0;
	transition: opacity 400ms;

	&.is-visible {

		opacity: 1;
	}
}

ul {

	margin: 0;
	padding: 0;
	list-style: none;
}

.wrapper {

	box-sizing: border-box;
	padding: 100px 150px;
	opacity: 0;
	transition: opacity 400ms;

	&.is-visible {

		opacity: 1;
	}
}