<head>
	<meta charset="UTF-8">
	<title>Every Letter Art</title>
	<style>body{opacity:0}</style>

	{{#unless isProd}}
		<link href="/assets/styles/main.css" rel="stylesheet" type="text/css" />
	{{/unless}}
</head>