<div class="slider">
	<div class="slider__handle">
		<div class="slider__handle__arrow slider__handle__arrow--left"></div>
		<div class="slider__handle__value"></div>
		<div class="slider__handle__arrow slider__handle__arrow--right"></div>
	</div>
</div>